<template>
  <div class="timeline container">
    <infinite-loading direction="top" 
                      @infinite="infiniteHandlerTop"
                      v-if="ready"></infinite-loading>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Country</th>
              <th scope="col">Period</th>
              <th scope="col">Type</th>
              <th scope="col">Deadline</th>
              <th scope="col">Data Received</th>
              <th scope="col">Report Created</th>
              <th scope="col">Quality control</th>
              <th scope="col">Return submited</th>
              <th scope="col">Refund paid</th>
              <th scope="col">Done</th>
            </tr>
        </thead>
        <tbody>            
            <tr v-for="(item, $index) in tableRows" :key="$index">
                <td>#</td>
                <td>{{item.country.eng_name}}</td>
                <td>{{item.period_start}} - {{item.period_end}}</td>
                <td>{{item.report_type.id}} : {{item.report_type.name}}</td>
                <td>{{item.deadline}}</td>
                <td>{{item.data_received}}</td>
                <td>{{item.report_created}}</td>
                <td>{{item.quality_control}}</td>
                <td>{{item.return_submitted}}</td>
                <td>{{item.return_paid}}</td>
                <td>{{item.done}}</td>
            </tr>
        </tbody>
    </table>
    <infinite-loading @infinite="infiniteHandlerBottom"
                      v-if="ready"></infinite-loading>
  </div>
</template>

<script>

import axios from 'axios';
import InfiniteLoading from 'vue-infinite-loading';

const api = '//hn.algolia.com/api/v1/search_by_date?tags=story';
const helloTax = 'https://vatreturns.dev.hellotax.com/entry/timeline/1'

export default {
  name: 'Timeline',
  components: {
    InfiniteLoading,
  },
  data () {
    return {
      limit        : 1,
      tableRows    : [],
      offset       : null,
      topOffset    : null,
      bottomOffset : null,
      ready        : false,
    }
  },
  methods: {
    initTable() {
      axios.get('https://vatreturns.dev.hellotax.com/entry/timeline-init-position/1', 
        { headers:{ Authorization : 'Bearer 2b9930d033bba06ea0cc6f083bf1843d72588879' },
          params: { limit: this.limit} }
      ).then(({ data }) => {
        if (data.data) {
          // now vue-infinite-loader ready to use
          this.ready  = true
          // set offsets and calc top&bottom offset
          this.offset = data.data.offset;
          this.topOffset = this.offset - this.limit
          this.bottomOffset = this.offset + this.limit
        } else {
          // TODO error van
        }
      });
    },
    infiniteHandlerTop($state) {
      axios.get(helloTax, 
        { headers:{ Authorization : 'Bearer 2b9930d033bba06ea0cc6f083bf1843d72588879' },
          params: { offset: this.topOffset, limit: this.limit} }
      ).then(({ data }) => {
        if (data.data) {
          this.topOffset -= this.limit;
          console.log('topOffset : '+this.topOffset)
          this.tableRows.unshift(...data.data);
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
    infiniteHandlerBottom($state) {
      axios.get(helloTax, 
        { headers:{ Authorization : 'Bearer 2b9930d033bba06ea0cc6f083bf1843d72588879' },
          params: { offset: this.bottomOffset, limit: this.limit} }
        ).then(({ data }) => {
        if (data.data) {
          this.bottomOffset += this.limit;
          console.log('bottomOffset : '+this.bottomOffset)
          this.tableRows.push(...data.data);
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
  },
  mounted : function() {
    this.initTable()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
th {
  text-transform: uppercase;
}
</style>
